.genrePage {
    margin: 70px auto;
    text-align: center;
    max-width: 1200px;
}

.genrePage > .title {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #000000;
}

.genrePage-genres {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.genrePage-genre {
    margin: 30px 10px;
    position: relative;
    max-width: 265px;
}

.genrePage-genre-image {
        max-width: 260px;
        max-height: 260px;
        overflow: hidden;
} 

.genrePage-genre-image > img {
    max-width: 265px;
    max-height: 265px;
    object-fit: cover;
    cursor: pointer;
}

.genrePage-genre-image:hover > img {
    transform: scale(1.3);
}

.genrePage-genre > h4 {
    padding: 10px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: rgba(0, 0, 0, 0.8);
}

.genrePage-questions {
    width: 100%;
    position: relative;
    margin: 50px 0px;
}

.genrePage-questions > h2 {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #000000;
}

.genrePage-questions-container {
    margin: 5a0px 20px;
}

.genrePage-question {
    border-bottom: 1px solid rgba(1, 28, 49, 0.8);
    line-height: 10px;
}

.genrePage-question > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;
}

.genrePage-question > div > h3 {
    font-family: 'Inter', sans-serif; 
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #666666;
}

.genrePage-question > p {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    text-align: left;
    padding: 10px ;
    letter-spacing: 0.05em;
    color: rgba(0, 0, 0, 0.6);
}


@media(max-width: 554px) {

    .genrePage {
        margin: 30px auto;
    }

    .genrePage-genres {
        justify-content: flex-start;
    }

    .genrePage > .title {
        font-size: 14px;
    }

    .genrePage-genre {
        max-width: 165px;
    }
    .genrePage-genre-image > img {
        max-width: 165px;
    }

    .genrePage-genre > h4 {
        font-size: 14px;
    }

    .genrePage-questions > h2 {
        font-size: 14px;
    }

    .genrePage-question > div > h3 {
        font-size: 10px;
    }
    .genrePage-question > div > img {
        width: 5px;
    }
}