.profilePage {
    margin: 70px 15px;
}

.profilePage > h2 {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #000000;
}

.profilePage-subTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.profilePage-subTitle > h3 {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
}

.profilePage-subTitle > span {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: rgba(1, 28, 49, 0.8);
    cursor: pointer;
}

.personalInfo-info {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    position: relative;
}

.personalInfo-con {
    max-width: 1100px;
    position: relative;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
}

.personalInfo-con > div > input {
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 10px;
    margin-right: 10px;
    background: #EEEEEE;
    border-radius: 2px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.8);
}

.personalInfo-con > div > input:last-child {
    margin-right: 0px;
}

.personalInfo-con > input {
    border: none;
    outline: none;
    padding: 15px 10px;
    background: #EEEEEE;
    border-radius: 2px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 15px;
}

.profilePage-order {
    text-align: left;
    margin: 40px 0px;
}

.profilePage-order > h3 {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
}

.order-buttons {
    margin: 30px 0px;
}

.order-buttons > button {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    margin-right: 15px;
    background: #EEEEEE;
    border: none;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
}

.order-buttons > button.active {
    border: 1px solid rgba(4, 24, 56, 0.8);
}

.personalInfo-infoPhone {
    display: none;
}

@media (max-width: 994px) {

    .profilePage {
        margin: 30px 15px;
    }
    .personalInfo-infoPhone {
        display: block;
        margin: 20px 0px;
    }
    .personalInfo-info.pc {
        display: none;
    }

    .profilePage > h2 {
        font-size: 18px;
    }

    .profilePage-subTitle > h3 {
        font-size: 13px;
    }

    .profilePage-subTitle > span {
        font-size: 9px;
    }

    .personalInfo-infoPhone > img {
        max-width: 200px;
    }

    .personalInfo-conPhone {
        display: flex;
        flex-direction: column;
    }

    .personalInfo-conPhone > input {
        border: none;
        outline: none;
        padding: 15px 10px;
        background: #EEEEEE;
        border-radius: 2px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 150%;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: rgba(4, 24, 56, 0.8);
        margin-top: 10px;
    }
    
    .profilePage-order > h3 {
        font-size: 18px;
    }

    .order-buttons > button {
        margin-top: 10px;

        font-family: 'Manrope', sans-serif;
        font-size: 8px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: rgba(4, 24, 56, 0.8);
    }
}