.likedPage {
    margin: 70px 15px;
}

.likedPage > h2 {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #000000;
}

.likedPage-category-search {
    display: flex;
    justify-content: flex-start;
    margin: 50px 0px;
}

.likedPage-category {
    border-radius: 2px;
    width: 300px;
    position: relative;
    cursor: pointer;
}

.likedPage-category > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background: #EEEEEE;
}

.likedPage-search {
    margin: 0px 20px;
}

.likedPage-search {
    width: 500px;
    background-color: #EEEEEE;
    border-radius: 2px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
.likedPage-search > input {
    width: 100%;
    background: none;
    outline: none;
    border: none;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(57, 57, 57, 0.5);
}
.likedPage-search > img {
    cursor: pointer;
    padding-left: 10px;
}

.likedPage-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 2px;
    margin-bottom: 15px;
    padding: 0px 20px;
}

.likedPage-item-con {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.likedPage-item-desc {
    display: flex;
    flex-direction: column;
    text-align: left;
    
    width: 50%;
}

.likedPage-item-desc > h4 {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.05em;

    color: #000000;
}

.likedPage-item-desc > span {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.8);
    padding: 5px 0px;
}

.likedPage-item-rate {
    margin: 0px 50px;
    white-space: nowrap;
}

.likedPage-item-rate > div > img {
    padding: 0px 3px;
}

.likedPage-item-rate > span{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.6);
}

.likedPage-item-buy {
    display: flex;
    align-items: center;
}

.likedPage-item-buy > button {
    background: #004194;
    border-radius: 4px;
    
    padding: 10px 15px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #F6F6FC;
    cursor: pointer;
    margin-right: 10px;
    white-space: nowrap;
}

.likedPage-item-buy > img {
    cursor: pointer;
}

.likedPage-item-rate.phone {
    display: none;
}

.likedPage-item-buy.phone {
    display: none;
}


@media (max-width: 1020px) {
    .likedPage-item-rate {
        margin: 0px 25px;
    }
}

@media (max-width: 994px) {
    .likedPage-item {
        flex-direction: column;
    }

    .likedPage-item-desc {
        width: 90%;
    }

    .likedPage-item-rate {
        display: none;
    }
    .likedPage-item-rate.phone {
        display: block;
        margin: 0px;
        justify-content: flex-start;
    }

    .likedPage-item-buy {
        display: none;
    }

    .likedPage-item-buy.phone {
        display: flex;
        justify-content: space-between;
        margin: 10px 0px;
    }

}

@media(max-width: 554px) {
    .likedPage > h2 {
        font-size: 20px;
    }

    .likedPage-item-con > img {
        width: 30%;
    }
    .likedPage-category-search {
        margin: 30px 0px;
    }
    .likedPage-category-search.phone {
        border-bottom: 1px solid rgba(4, 26, 62, 0.5);;
        padding-bottom: 20px;
    }
    .likedPage-category-search {
        display: flex;
        flex-direction: column;
    }

    .likedPage-category {
        width: 100%;
    }

    .likedPage-category > div > span {
        font-size: 18px;
    }

    .likedPage-category > div > img {
        margin: 0px;
    }

    .likedPage-search {
        width: 100%;
        margin: 10px 0px 0px 0px;
    }

    .likedPage-item-desc > h4 {
        font-size: 14px;
    }

    .likedPage-item-buy > button {
        font-size: 12px;
        padding: 5px 10px;
    }

    .likedPage-item-buy > img {
        width: 15px;
    }

    .likedPage-item-rate > div > img {
        width: 15px;
        padding-left: 0px;
    }

    .likedPage-item {
        padding: 0px 5px;
    }

    .likedPage-item-desc > span {
        padding: 0px;
        font-size: 12px;
    }
    .likedPage-item-rate.phone > div{
        line-height: 10px;
        margin: 4px 0px;
    }

    .likedPage-search > input {
        font-size: 15px;
    }

    .likedPage-item-rate.phone {
        line-height: 10px;
    }

    .likedPage-item-rate > span {
        font-size: 8px;
        color: #004194
    }
}