.basket {
   max-width: 1200px;
   max-height: 750px;
   margin: 0 auto;
   background-color: #ffffff;
}

.basket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.basket-header > h3 {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 23px;
    line-height: 38px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
}

.basket-header > img {
    width: 30px;
    cursor: pointer;
}

.basket-items {
    max-height: 550px;
    overflow-y: scroll;
}

.basket-pc {
    display: flex;
    align-items: center;
    margin: 10px 20px;
    background-color: #F9F9F9;
    border-radius: 2px;
    padding: 20px;
    justify-content: space-between;
}

.basket-pc > .img-title {
    display: flex;
    align-items: center;
    max-width: 70%;
}

.basket-pc > .img-title > h4 {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.05em;
    color: #000000;
    text-align: left;
    margin-left: 20px;
}

.button-numb {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.button-numb > button {
    background: none;
    border: none;
    padding: 0px 8px;
    cursor: pointer;

    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #004194;
}

.button-numb > span {
    background-color: #ffffff;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-end;
}


.basket-footer-pc {
    margin: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.basket-footer-pc > button {
    background: #004194;
    border-radius: 4px;
    padding: 10px 15px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #F6F6FC;
    cursor: pointer;
    margin: 0px 20px;
    white-space: nowrap;
}

.basket-phone {
    display: none;
}

.basket-footer-phone {
    display: none;
}

@media(max-width: 600px) {

    .basket-header {
        border-bottom: 1px solid rgba(4, 26, 62, 0.5);
        margin: 0px 20px;
        padding: 10px 5px;
    }
    
    .basket-header > h3 {
        font-size: 14px;
    }

    .basket-header > img {
        width: 18px;
    }

    .basket-pc {
        display: none;
    }

    .img-title > img {
        width: 70px;
        height: 70px;
    }
    .basket-phone {
        display: flex;
        align-items: center;
        margin: 10px 20px;
        background-color: #F9F9F9;
        border-radius: 2px;
        padding: 20px;
    }

    .basketitem-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .basketitem-info > h4 {
        width: 95%;
        text-align: left;
        font-family: 'Inter', sans-serif;
        font-size: 10px;
        line-height: 130%;
        letter-spacing: 0.03em;
        color: #000000;
    }

    .current-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }

    .button-numb {
        font-family: 'Inter', sans-serif;
        font-size: 10px;
        line-height: 130%;
        letter-spacing: 0.03em;
        color: rgba(0, 0, 0, 0.6);
    }

    .button-numb > button {
        font-size: 10px;
        padding: 0px 3px;
    }

    .current-price > span {
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #011535;
    }

    .basket-footer-pc {
        display: none;
    }

    .basket-footer-phone {
        display: flex;
        flex-direction: column;
        margin: 0px 20px;
        border-top: 1px solid rgba(4, 26, 62, 0.5);
    }
    .basket-footer-phone > div {
        display: flex;
        justify-content: space-between;
        margin: 10px 0px;
    }

    .basket-footer-phone > div > span {
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: rgba(0, 0, 0, 0.8)
    }

    .basket-footer-phone > .order {
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.06em;
        color: #FAFAFF;
        background: #004194;
        padding: 8px 0px;
        border-radius: 2px;
    }

    .basket-footer-phone > .returnB {
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.06em;
        color: rgba(4, 24, 56, 0.8);
        padding: 8px 0px;
        margin-top: 5px;
        background: none;
    }
}