
.articleMenuPage {
    margin: 70px 20px;
}

.articleMenuPage > h2 {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #000000;
}

.articleMenuPage-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(1, 28, 49, 0.8);;
    position: relative;
    width: 100%;
    padding-bottom: 30px;
    margin: 30px 10px;
}

.articleMenuPage-items.last {
    border-bottom: none;
}
.articleMenuPage-item {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 0px 10px;
}


.articleMenuPage-item > img {
    width: 30%;
    height: 200px;
}

.articleMenuPage-item > div {
    margin: 0px 5px;
}

.articleMenuPage-item > div > h3 {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #000000;
    text-align: left;
}

.articleMenuPage-item > div > p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: rgba(0, 0, 0, 0.8);
    text-align: left;
}